@import './variables.scss';

.comments {
	clear: both;
	overflow: hidden;
	width: 100%;
	list-style: none;
    .commentwrap {
        max-width: 800px;
        margin: 0 auto;
        padding: 0 0 0 10px;
        hr {
            height: 0;
            width: 100%;
            background: $color-light-gray;
            border: 0;
            margin: 40px 0
        }
        li {
            margin: 10px 0;
            box-shadow: -2px 2px 10px rgb(0 0 0 / 8%);
            border-radius: 6px;
        }
    }
    .comments-main {
        overflow: hidden;
        -webkit-transition: height 0s ease-out;
        -moz-transition: height 0s ease-out;
        transition: height 0s ease-out;
        max-width: 800px;
        margin: 0 auto;
        .comments-list-title {
            max-width: 800px;
            margin: 20px 0;
            font-size: 20px;
            font-weight: 700;
            color: $color-black;
        }
    }
}

.contents {
	width: 99%;
	float: left;
    .body {
        font-size: 15px;
        line-height: 20px;
        padding: 10px 0;
        &>:last-child {
            margin-bottom: 0
        }
    }
    .profile {
        float: left;
        position: relative;
        top: 20px;
        margin-left: 10px;
        img {
            background-color: $color-white;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 2px;
        }
    }
    .main {
        float: right;
        width: 90%;
        padding: 20px 0;
        position: relative;
        .commentinfo {
            font-weight: bold;
        }
    }
    .comment-reply-link {
        font-size: 13px;
        display: inline-block;
        color: #A1A1A1;
        &:hover {
            color: #606576
        }  
    }  
    .info {
        letter-spacing: 0.6px;
        font-size: 13px;
        color: #A1A1A1;
        span {
            margin-right: 10px
        }
    }
}

.comment-respond {
    width: 98%;
	max-width: 800px;
	margin: 0 auto;
    margin-bottom: 80px;
    textarea {
        display: block;
        line-height: 1.75;
        float: left;
        width: 79%;
        height: 70px;
        color: $color-black;
        resize: vertical;
    }
    input[type=submit] {
        width: 84px;
        float: right;
        height: 70px;
        line-height: 20px;
        padding: 0;
        color: $color-black;
        background: $color-gray;
        border-radius: 4px;
        padding: 0;
        font-size: 18px;
    }
    input {
        width: 29%;
    }
    input, textarea {
        font-family: PingFang SC, "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft Yahei", sans-serif;
        float: left;
        font-size: 14px;
        margin: 0;
        padding: 24px;
        color: $color-black;
        border-radius: 4px;
        background-color: $color-light-gray;
        box-sizing: border-box;
    }
    input:last-of-type {
        border: 0
    }
    .cancel-comment-reply-link {
        float: right;
        top: 20px;
        right: 25px;
        position: relative;
        margin-bottom: 5px;
        color: $color-gray;
        cursor: pointer;
        clear: both;
    }
}

.comment-respond input::-webkit-input-placeholder,
.comment-respond textarea::-webkit-input-placeholder {
	color: $color-gray
}

.comment-form-info {
	clear: both;
	padding: 20px 0;
}

.real-time-gravatar {
	position: relative;
	width: 8%;
	float: left;
    img {
        margin: 8px 0 0 0;
        width: 50px;
        height: 50px;
        border: 1px solid $color-light-gray;
        border-radius: 50%
    }
}

.author-info input {
	margin: 0;
	margin-right: 20px;
	position: relative;
	left: 8%;
}

.author-info,
.comment-form-info {
	clear: both;
	padding: 20px 0;
}

@media (max-width:800px) {
	.comments-main {
		padding: 0 10px;
		font-size: 16px;
	}
    .comment-respond {
        input {
            width: 100%;
            border-right: 0;
            margin-bottom: 15px
        }
        textarea {
            width: 100%;
            margin-top: 0;
        }
        input[type=submit] {
            width: 100%;
            margin-top: 20px;
        }
	}
    .real-time-gravatar{
		display: none
	}
    .author-info input {
		left: 0;
		margin-right: 0
	}
    .contents {
        .profile img {
            left: 0;
            top: 25px;
            width: 40px;
            height: 40px
        }
        .main {
            width: 80%;
        }
	}
}