/* @font-face {
    font-family: 'iconfont';
    src: url(fonts/iconfont.eot);
    src: url(fonts/iconfont.eot?#iefix) format('embedded-opentype'), 
    url(fonts/iconfont.woff) format('woff'), 
    url(fonts/iconfont.ttf) format('truetype'), 
    url(fonts/iconfont.svg#iconfont) format('svg')
} */
@font-face {
    font-family: "iconfont";
    src: url('fonts/iconfont.woff2?t=1624588523430') format('woff2'),
        url('fonts/iconfont.woff?t=1624588523430') format('woff'),
        url('fonts/iconfont.ttf?t=1624588523430') format('truetype');
}