@import './variables.scss';

a {
	text-decoration: none;
}

.container {
	position: relative;
	background: $color-white;
	padding: 60px 0 20px;
	border-bottom: 2px solid $color-light-gray;
	border-top: 2px solid $color-light-gray;
}

body {
	width: 100%;
	height: 100%;
	font-family: PingFang SC, "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft Yahei", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: $color-black;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
div,
span,
ul,
ol,
li,
form,
input,
textarea,
br,
button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	list-style:none;
}

input {
	line-height: normal
}

textarea {
	border: 0;
	width: 100%;
	height: 12em;
	display: block
}

textarea:focus,
input:focus {
	outline: 0
}

html {
	width: 100%;
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	body {
		_background-attachment: fixed;
	}
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}

.animated {
	animation-duration: 0.3s;
	animation-fill-mode: both
}

h1.post-title {
    color: $color-black;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
    font-family: "Georgia","Xin Gothic","PingFang SC","Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei",sans-serif;
}

.posts-list {
    margin: 0;
    padding: 0;
    h2 {
        font-size: 1.125rem;
        line-height: 24px;
        font-weight: normal;
        margin-bottom: 4px
    }
    a {
        color: inherit;
        &:hover{
            color: $color-gray;
        }
    }    
    &>li {
        list-style: none;
        position: relative
    }
    .post {
        position: relative;
        max-width: 800px;
        margin: auto;
        .status-list-item {
            position: relative;
            width: 100%;
            border-radius: 6px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
        }
    }
}

@media screen and (max-width:760px) {
	.container {
		padding: 20px 10px
	}
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	100% {
		opacity: 1;
		transform: none
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}