@import './variables.scss';

.container {
    background: $color-white;
    position: relative;
    padding: 60px 0 20px;
    border-bottom: 2px solid $color-light-gray;
    border-top: 2px solid $color-light-gray;
}
.posts-list {
    margin: 0;
    padding: 0;
    h2 {
        font-size: 1.125rem;
        line-height: 24px;
        font-weight: normal;
        margin-bottom: 4px
    }
    a {
        color: inherit;
        &:hover{
            color: $color-gray;
        }
    }    
    &>li {
        list-style: none;
        position: relative
    }
    .post {
        position: relative;
        margin: 0 auto 0;
        max-width: 800px;
        margin: auto;
        .status-list-item {
            position: relative;
            width: 100%;
            border-radius: 6px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
        }
    }
}

.status-user {
    padding: 15px 2% 15px 2%;
    margin-bottom: 25px;
    // p {
    //     color: $color-gray;
    // }
}

.status-section {
    position: relative;
    z-index: 1;
    color:#444443
}

.status-btn {
    width: auto;
    font-size: 20px;
    font-weight: 700;
    display: block;
    position: relative;
}

.section-p {
    font-weight: normal;
    line-height: 1.75;
    margin: 20px auto;
    color: $color-light-black;
}

@media screen and (max-width:760px) {
    .container {
        padding: 20px 10px
    }
    .status-user {
        padding: 1.3rem 1.3rem 2rem!important;
        margin-bottom:30px;
    }
}