@import './variables.scss';
.navi {
    position: absolute;
    right: 0;
    z-index: 999
}
.bt-nav {
    display: block;
    position: absolute;
    z-index: 997;
    top: 2em;
    right: 3em;
    width: 36px;
    height: 36px;
    cursor: pointer;
    .line {
        position: absolute;
        top: 7px;
        left: 50%;
        width: 30px;
        margin-left: -15px;
        height: 1px;
        background: $color-black;
        -webkit-transition: all .3s ease
    }
}
.open {
    .navbar {
        display: none
    }
    .bt-nav {
        .line1 {
            top: 17px
        }
        .line3 {
            top: 27px
        }
    }
}
.close {
    .navbar {
        display: block
    }
    .bt-nav {
        .line {
            top: 17px
        }
        .line1 {
            -webkit-transform: rotateZ(45deg)
        }
        .line2 {
            opacity: 0
        }
        .line3 {
            -webkit-transform: rotateZ(-45deg)
        }
    }
} 

.navbar {
    float: right;
    margin-top: 40px;
    padding-right: 90px;
    ul li.current-menu-item>a {
        color: $color-black;
    }
}

.main-navigation {
    padding: 0;
    -webkit-transition: right .4s ease 0s;
    -moz-transition: right .4s ease 0s;
    -ms-transition: right .4s ease 0s;
    -o-transition: right .4s ease 0s;
    transition: right .4s ease 0s;
    a::after,a::before {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform .3s, opacity .2s;
        -moz-transition: -moz-transform .3s, opacity .2s;
        transition: transform .3s, opacity .2s
    }
    a::before {
        margin-right: 5px;
        content: '[';
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px)
    }
    a::after {
        margin-left: 5px;
        content: ']';
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px)
    }
    a:hover::after,
    a:hover::before {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0)
    }
    ul {
        display: block;
        margin: 0;
        padding-left: 0;
        list-style: none;
        ul {
            position: absolute;
            top: 40px;
            z-index: 999;
            display: none;
            background-color: $color-white;
            border-radius: 3px;
            border: 1px solid $color-gray;
            &:before {
                z-index: 0;
                content: "";
                position: absolute;
                top: -10px;
                right: 28px;
                border-style: solid;
                border-width: 0 10px 10px 10px;
                border-color: transparent transparent $color-gray transparent;
                -webkit-transform: rotate(360deg);
            }
            ul {
                bottom: 0
            }
            li {
                float: none;
                display: block;
                width: 100%;
                &.focus>ul,&:hover>ul {
                    right: 100%;
                    display: block
                }
                &:hover {
                    background-color: $color-gray;
                    a {
                        color: $color-white;
                    }
                }
            }
            a {
                float: none;
                padding: 15px 25px 15px 20px;
                width: 100%;
                min-width: 190px;
                box-shadow: 0 1px 0 rgba(0, 0, 0, .03);
                text-align: left;
                white-space: nowrap
            }            
            a.focus,a:hover {
                color: $color-gray
            }
            
        }
        li.focus>ul,li:hover>ul {
            right: 0;
            display: block
        }
    }
    li {
        float: left;
        margin: 0;
        color: $color-gray;
        position: relative;
        a {
            color: inherit;
            font-weight: bold;
            span {
                display: none
            }
            padding: 0 10px 40px
        }
    }
    a {
        display: block;
        text-decoration: none
    }
}
.main-navigation.toggled ul,
.menu-toggle {
    display: block
}
#main-menu>div,
#primary-menu {
    float: none
}
.menu-dropdown {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 9;
	display: none;
	margin: 0;
	padding: 10px 14px 7px 14px;
	text-align: center;
	font-size: 14px;
	line-height: 15px;
	cursor: pointer
}
@media screen and (max-width:760px) {
    .open-page-item>ul.sub-menu {
        display: block!important
    }
    .navi {
        position: fixed;
        height: 100%;
        text-align: center
    }
    .bt-nav {
        right: 1em;
        top: 1em;
        &.scrolled {
            background: $color-gray;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
            -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
            .line {
                width: 5px;
                height: 5px;
                margin-left: -3px
            }
        }
    }
    .close {
        .bt-nav .line {
            background: $color-gray;
        }
        .scrolled {
            .line {
                background: $color-black;
            }
        }
        .navbar {
            display: block;
            height: 100%;
            background: $color-black
        }
    }
    .navbar {
        float: right;
        margin-top: 0;
        padding-right: 0;
        ul {
            li.current-menu-item>a {
                color:$color-white !important;
            }
            ul {
                border: none;
                &:before {
                    display: none
                }
            }
        }
    }
    .main-navigation {
        #main-menu {
            color: $color-white;
            width: 280px;
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            height: 100%;
            overflow: auto;
            -webkit-transition: right .4s ease 0s;
            -moz-transition: right .4s ease 0s;
            -ms-transition: right .4s ease 0s;
            -o-transition: right .4s ease 0s;
            transition: right .4s ease 0s;
            .open {
                .menu-dropdown {
                    transform: rotate(0deg);
                    transition: transform .3s ease-in, top .2s ease-in;
                }
            };
            .menu-dropdown {
                transform: rotate(-180deg);
                display: block;
                transition: transform .3s ease-out, top .2s ease-out;
            }
        }
        li {
            display: block;
            color: $color-gray;
            position: relative;
            float: none;
            a {
                display: block;
                float: none;
                padding: 20px;
                text-align: left
            }
        }
        #primary-menu ul {
            overflow-y: auto;
            max-height: 0;
            transition: max-height .3s ease-out;
            box-shadow: none;
            position: relative!important;
            top: 0!important;
            left: 0!important;
            float: none!important;
            background-color: $color-gray!important;
            display: block;
            padding: 0;
            margin: 0;
            a {
                color: $color-white;
                    box-sizing: border-box;
            }
            li {
                padding-left: 20px;
                box-sizing: border-box;
            }
        }
        .open {
            ul {
                max-height: 21rem!important;
            }
        }
    }
    #main-menu>div {
        display: block;
        float: none
    }
    .inner {
		overflow: auto;
		max-height: 100%;
		padding: 5em 0 0 0
	}
}
